<div class="register">
	<h1>Register</h1>
    <form method="post">
    	<input type="text" name="first" placeholder="First Name" required="required" />
      <input type="text" name="last" placeholder="Last Name" required="required" />
      <input type="text" name="u" placeholder="Username" required="required" />
      <input type="password" name="p" placeholder="Password" required="required" />


      <input type="text" name="a" placeholder="Address" required="required" />
      <input type="text" name="c" placeholder="City" required="required" />
      <input type="text" name="s" placeholder="State" required="required" />
      <input type="text" name="z" placeholder="Zipcode" required="required" />


      <input type="text" name="b" placeholder="Self-Description" required="required" />
      <input type="text" name="e" placeholder="Email" required="required" />
        <input type="text" name="ph" placeholder="PhoneNumber" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Sign Up </button>
    </form>
</div>