<div class="createevent">
	<h1>Create Event</h1>
    <form method="post">

        
        <div class="form-group">
            <div class="radio">
            <label> Attendee
            <input type="radio" name="attendee" value="chicken" ng-model="formData.attendee">     
            </label>
            </div>
            
            <div class="radio">
            <label> Host
            <input type="radio" name="attendee" value="egg" ng-model="formData.attendee">
            </label>
            </div>
        </div>
      <br>
      
      <input type="text" name="e" placeholder="Event Name" required="required" />
      <input type="text" name="d" placeholder="Event Description" required="required" />
      <input type="text" name="l" placeholder="Event Location" required="required" />
      <input type="number" name="c" placeholder="Capacity amount" required="required" />
      <input type="text" name="cell" placeholder="Contact cell" required="required" />
  
           
        
      <button type="submit" class="btn btn-primary btn-block btn-large">Submit Event </button>
    </form>
</div>